.header-bar {
  width: 100vw;
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  height: 3.875rem;
}

.header-logo {
  margin-left: 3rem;
  font-size: x-large;
  margin-top: 1rem;
  font-weight: 600;
}

.image-banner {
  background-image: url("../../assets/alternative-bib-background.jpg");
  background-size: cover;
  height: 16rem;
}

.language-switch {
  margin-right: 3rem;
}

@media screen and (max-width: 1000px) {
  .language-switch {
    margin-right: 1rem;
  }
}
