.footer-bar {
  position: sticky;
  width: 100%;
  align-items: center;
  height: 11rem;
}

.grey-box {
  position: sticky;
  width: 100%;
  background-color: black;
  height: 11rem;
  opacity: 0.8;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
