<div class="filter">
  <div class="filter-container">
    <div class="flex">
      <app-text-input
        class="search-input"
        [control]="filterForm.controls.searchText"
      ></app-text-input>
      <div class="clear-text">Clear</div>
      <app-button
        class="filter-button"
        [form]="filterForm"
        [label]="'Search'"
      ></app-button>
    </div>

    <hr class="filter-line" />
    <div class="flex align-items-center" style="height: 2.5rem">
      <div style="padding-right: 1rem">Filters:</div>
      <div class="text filter-checkbox">
        <app-checkbox
          name="filterCheckBoxValues"
          value="tum"
          label="TUM"
          [control]="filterForm.controls.checkBoxValues"
        >
        </app-checkbox>
        <app-checkbox
          name="filterCheckBoxValues"
          value="lmu"
          label="LMU"
          [control]="filterForm.controls.checkBoxValues"
        ></app-checkbox>
        <app-checkbox
          name="filterCheckBoxValues"
          value="garching"
          label="Garching"
          [control]="filterForm.controls.checkBoxValues"
        ></app-checkbox>
        <app-checkbox
          name="filterCheckBoxValues"
          value="innenstadt"
          label="Innenstadt"
          [control]="filterForm.controls.checkBoxValues"
        ></app-checkbox>
        <app-checkbox
          name="filterCheckBoxValues"
          value="großhadern"
          label="Großhadern"
          [control]="filterForm.controls.checkBoxValues"
        ></app-checkbox>
      </div>
      <div class="clear-all">Clear All</div>
    </div>
  </div>
</div>
