.filter {
  width: 100%;
  font-size: smaller;
  margin-top: 4rem;
  position: absolute;
}

.filter-container {
  //  height: 6rem;
  padding: 0.75rem;
  background-color: white;
  border-radius: 0.3rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.filter-line {
  border: none;
  height: 1px;
  opacity: 10%;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  background-color: black;
}
.clear-text {
  padding-left: 1rem;
  display: flex;
  align-self: center;
  cursor: pointer;
}

:host ::ng-deep .search-input {
  width: 100%;
  .p-input-icon-left {
    width: 100%;
    .p-inputtext:enabled:focus {
      box-shadow: 0 0 0 0.2rem #cfe8c3;
    }
    .p-inputtext {
      border: none;
      width: 100%;
    }
  }
}

.text {
  display: flex;
  opacity: 50%;
  gap: 1rem;
}

:host ::ng-deep .filter-button {
  padding-left: 1rem;
  text-align: end;
  .p-button {
    background: #4fba1c;
    border: 1px solid #4fba1c;
    border-radius: 0.5rem;
  }
}

:host ::ng-deep .filter-checkbox {
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #4fba1c;
    background: #4fba1c;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #4fba1c;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    border-color: #4fba1c;
    box-shadow: 0 0 0 0.2rem #cfe8c3;
  }
  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #4fba1c;
    background: #4fba1c;
  }
}

.clear-all {
  cursor: pointer;
  width: 100%;
  text-align: end;
  color: #4fba1c;
}

.location {
  display: flex;
  gap: 1rem;
}

.universities {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1200px) {
  .filter-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .location {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .universities {
    display: none;
  }
}
