<p>
  Ein herzliches Dankeschön an die liebe Bibliotheksleitung der TU München und
  den lieben Mitarbeitern der Abteilung Informationstechnologie der LMU ohne
  deren Hilfe dieses Projekt nicht möglich gewesen wäre!
</p>
<p>
  Es handelt sich um ein Studentenprojekt. Von Studenten für Studenten! Alle
  angezeigten Daten sind frei im Internet verfügbar und wurden hier
  zusammengetragen und aufbereitet!
</p>
<p>
  Motivation: Als Student ist es immer frustrierend wenn man (besonders in der
  Prüfungsphase) extra früh aufsteht um einen Lernplatz in der Bib zu ergattern,
  aber dann feststellt, dass alle Plätze bereits belegt sind! Diese Webseite
  soll zukünftig Abhilfe schaffen. Man kann jederzeit erkennen wie voll eine Bib
  ist und wo sich die nächste freie Bib befindet!
</p>

<h3>Pflichtangaben:</h3>
<img src="../../../../assets/impressum.jpg" />
