.switch-container {
  background-color: #f4f4f4;
  width: 6rem;
  height: 1.5rem;
  padding: 0.15rem;
  border-radius: 0.375rem;
  color: #a2a7b3;
  font-size: smaller;
  align-items: center;
}

.active-page {
  background-color: white;
  color: black;
  gap: 0.25rem;
  display: flex;
  height: 1.25rem;
  border-radius: 0.375rem;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
}

.inactive-icon-adjustment {
  margin-bottom: 0.15rem;
}
