.bib-list-box {
  margin: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.4rem;
  padding: 0.75rem;
  font-size: small;
}

.list-text {
  display: flex;
  justify-content: space-between;
}

.library-name {
  font-weight: 600;
  font-size: medium;
}

.hours {
  font-size: xx-small;
  padding-top: 0.5rem;
}

.container {
  margin-top: 0.5rem;
  height: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  background-color: #f4f4f4;
}

.dynamic-bar {
  border-radius: 0.25rem;
  height: 1rem;
}

@media screen and (max-width: 1000px) {
  .bib-list-box {
    height: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
