.spinner-container {
  background-color: white;
  width: 18rem;
  height: 15rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.loading-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: space-around;
}
